.overview {
    padding: var(--padding);

    .card {
        padding: var(--padding);
        margin-bottom: var(--padding);

        .description {
            margin: var(--padding) 0;

            .arrow {
                float: right;
            }
        }
    }
}