<ng-container *transloco="let t">
    <div class="overview">
        <rep-header />
        <ng-content *ngIf="results() as results">
            <ng-content *ngIf="completedCount() as completedCount">
                <mat-card [routerLink]="'/quiz/'+quiz.id" class="card" appearance="outlined"
                    *ngFor="let quiz of quizes(); trackBy:trackBy">
                    <mat-card-title>{{t("category."+quiz.category+".title")}}
                        {{quiz.subTitle}}
                        ({{results[quiz.id].length || 0
                        }}/{{quiz.questionIds?.length ?? 0}}
                        {{t("overview.questions")}})</mat-card-title>
                    <mat-card-content>
                        <div class="description">
                            <div>{{t("subject.title")}}: {{t("subject."+quiz.subject+".title")}}</div>
                            <div>{{t("year.title")}}: {{quiz.year}} / {{t("unit.title")}}: {{quiz.unit}}</div>
                            {{t("category."+quiz.category+".description")}}
                            <mat-icon class="arrow" aria-hidden="false" aria-label="goto quiz"
                                fontIcon="keyboard_double_arrow_right">
                            </mat-icon>
                        </div>
                        <div>{{t("overview.completedCount")}}: {{completedCount[quiz.id]}}</div>
                    </mat-card-content>
                </mat-card>
            </ng-content>
        </ng-content>
    </div>
</ng-container>