.overview {
    padding: var(--padding);
    max-width: 800px;
    margin: 0 auto;

    .card {
        padding: var(--padding);
        margin-bottom: var(--padding);
        filter: var(--drop-shadow);
        border-radius: var(--radius);

        .description {
            margin: var(--padding) 0;

            .arrow {
                float: right;
            }
        }
    }
}