/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: lightgrey;
    background-image: url("assets/circle.png");

    --padding: 20px;
    --color-wrong: #ba1a1a;
    --color-complete: #00ff00;
    --color-partial: #ffff00;
}

h3 {
    background: lightgrey;
    padding: var(--padding);
}

.mat-horizontal-stepper-header-container {
    display: none !important;
}